div{
    padding-top:50px;
    display:flex;
    justify-content: center;
}
p:before{
    content:attr(data-text);
    position: absolute;
    left:0px;
    top:0px;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
    width:0%;
    overflow: hidden;
    -webkit-text-fill-color:#ff5722;
}
p{
    font-size:90px;
    letter-spacing:10px;
    -webkit-text-fill-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: relative;
    width:fit-content;
    
}

p:hover:before{
    width:100%;
}
